:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #1a626d;
    --text-black-700: #37ac49;
}

body {
    line-height: 1.5;
    font-size: 16px;
    background: #222222;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: sidebarSection 1s ease;
}

@keyframes sidebarSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.hidden {
    display: none !important;
}

/* .main-content {
    padding-left: 270px;
} */

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: "";
    position: absolute;
    width: 155px;
    height: 4px;
    background-color: var(--skin-color);
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    position: absolute;
    width: 105px;
    height: 4px;
    background-color: var(--skin-color);
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

button {
    border: none;
}

button span {
    margin-left: 0 !important;
}

.btn {
    position: relative;
    padding: 12px 35px;
    width: 165px;
    display: block;
    overflow: hidden;
    border-radius: 40px;
    transition: 0.5s;
    user-select: none;
}

.btn span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    color: rgb(228, 225, 225);
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.btn .liquid {
    position: absolute;
    left: 0;
    top: -40px;
    width: 165px;
    height: 165px;
    background: var(--skin-color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 1s;

}

.btn .liquid::before,
.btn .liquid::after {
    content: '';
    position: absolute;
    width: 165%;
    height: 165%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.btn .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animatebtn 5s linear infinite;
}

.btn .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animatebtn 10s linear infinite;
}

@keyframes animatebtn {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.btn:hover .liquid {
    top: -85px;
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Side */
.side {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
    user-select: none;
}

.side .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.side .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.side .logo a span {
    font-family: "Clicker Script", cursive;
    font-size: 40px;
}

.side .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.side .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.side .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.side .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.side .nav-toggler.open span {
    background-color: transparent;
}

.side .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.side .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.side .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.side .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.side .nav {
    margin-top: 50px;
}

.side .nav li {
    margin-bottom: 20px;
    display: block;
}

.side .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.side .nav li a.active {
    color: var(--skin-color);
}

.side .nav li a i {
    margin-right: 15px;
}

/* Home */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Dancing Script', cursive;
    /* font-family: "Clicker Script", cursive; */
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    user-select: none;
}

.home-img::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: -20px;
    bottom: -40px;
}

.home-img::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
}

.home .home-img img {
    margin: auto;
    height: 400px;
    width: 350px;
    border-radius: 5px;
}

/* About */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 10px;
    /* margin-right: 15px; */
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    height: 7px;
    border-radius: 4px;
    background: var(--bg-black-50);
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background: var(--skin-color);
}

@keyframes proJS {
    100% {
        width: 76%;
    }
}

@keyframes proNode {
    100% {
        width: 70%;
    }
}

@keyframes proHtml {
    100% {
        width: 95%;
    }
}

@keyframes proCss {
    100% {
        width: 95%;
    }
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    width: 1px;
    height: 100%;
    background-color: var(--skin-color)
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date i {
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* Social */
.social .container {
    padding-bottom: 40px;
}

.social .social-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.social .social-item .social-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
    height: 100%;
}

.social .social-item .social-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.social .social-item .social-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.social .social-item .social-item-inner .icon i {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.social .social-item .social-item-inner:hover .icon {
    background: var(--skin-color);
}

.social .social-item .social-item-inner:hover .icon i {
    font-size: 25px;
    color: #ffffff;
}

.social .social-item .social-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.social .social-item .social-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.social .social-item .social-item-inner span {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

.social .social-item .social-item-inner a {
    font-size: 16px;
    color: var(--skin-color);
    line-height: 25px;
}

.social .social-item .social-item-inner a:hover {
    border-bottom: 1px solid var(--skin-color);
}

/* Project */
.project .container {
    padding-bottom: 40px;
}

.project .project-heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.project .project-heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
}

.project .project-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    user-select: none;
    transition: all 0.3s ease;
    animation: projectItem 0.5s ease-in-out;
}

@keyframes projectItem {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.project .project-item-inner {
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.project .project-item-inner .project-img img {
    width: 100%;
    display: block;
}

.project .project-item .project-info {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Dancing Script', cursive;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 30px;
    opacity: 0;
    transition: all 0.3s ease;
    user-select: none;
}

.project .project-item:hover .project-info {
    opacity: 1;
}

.project .project-item .project-info h4 {
    font-size: 25px;
    color: var(--skin-color);
    font-weight: 700;
    text-transform: capitalize;
    transform: translateX(-20px);
    transition: all 0.3s ease;
    opacity: 0;
}

.project .project-item:hover .project-info h4 {
    transform: translateX(0);
    opacity: 1;
}

.project .project-item .project-info .icon {
    height: 40px;
    width: 40px;
    color: whitesmoke;
    background-color: var(--skin-color);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform: translateX(20px);
    transition: all 0.3s ease 0.3s;
    opacity: 0;
}

.project .project-item:hover .project-info .icon {
    transform: translateX(0);
    opacity: 1;
}

.project .project-item .project-info .icon i {
    line-height: 40px;
}

/* Contact */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon i {
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

/* Contact Form */
.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 55px;
    width: 250px;
    padding: 0 50px;
}

.contact .contact-form .btn .liquid {
    height: 250px;
    width: 250px;
    top: -65px;
}

.contact .contact-form .btn:hover .liquid {
    top: -120px;
}

@media (max-width: 1450px) {
    .section .container {
        padding-top: 70px;
    }

    .side {
        left: -270px;
    }

    .side .nav-toggler {
        display: flex;
        left: 30px;
    }

    .side.open {
        left: 0;
    }

    .side .nav-toggler.open {
        left: 300px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    /* .main-content {
        padding-left: 0;
    } */
}

@media (max-width: 1000px) {
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .contact .contact-info-item,
    .project .project-item,
    .social .social-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {

    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 699px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .project .project-item,
    .social .social-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 415px) {
    .about .about-content .personal-info .personal-info-row {
        display: inline-block;
        width: 100%;
    }

    .about .about-content .personal-info .info-item {
        max-width: 100%;
    }
}

/* Pagination */
.pagination {
    margin-bottom: 30px;
    outline: none;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    background: var(--bg-black-100);
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: var(--skin-color);
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li i {
    color: var(--text-black-900);
}

.pagination ul li.disabled-next,
.pagination ul li.disabled-prev {
    pointer-events: none;
    background-color: var(--bg-black-50);
    color: var(--text-black-700);
    opacity: 0.5;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul .number-dots {
    display: flex;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px 0 4px;
    width: 45px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: var(--skin-color);
}

@media (max-width: 459px) {
    .pagination ul .number-dots {
        display: none;
    }
}

/* Style Custom Sweetalert */
.swal2-container {
    font-family: 'Poppins', sans-serif;
}

.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
}

#swal2-content {
    color: var(--text-black-700);
}

.swal2-container .swal2-actions .swal2-confirm {
    background-color: var(--skin-color);
}