*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100%;
    background: #eff4fd;
}
.logo{
    width: 10%;
    height: 10%;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: aqua;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: cadetblue;
}
.detel p{
    color: burlywood;
    size: 20px;
    line-height: 22px;
}
.detel a{
    background:#212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin:  20px 0;
    border-radius: 5px;
}
.background{
    width: 50%;
    height: 50%;
}
.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images :hover .background{
    bottom: 40px ;
}
